/* CSS Reset */
*, html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p,
a, a:hover, button, img, i, ol, ul, li,
form,
article, aside, footer, header,
menu, nav, section {
	margin: 0;
	padding: 0;
    border: 0;
    line-height: 0;
    text-decoration: none;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-size: 10px;
    font-family: 'Open Sans', sans-serif;
    color: inherit;
    background-color: transparent;
    /* border: 1px solid black; */
}
/*
button {
    outline: none !important;
}*/




/* Formatting the Word Cloud */


span:hover {
    text-shadow: 1px 1px 1px #555;
    cursor: pointer;
}

/* fonts */

div.jqcloud {
    line-height: normal;
}

/*div.jqcloud a {
    font-size: inherit;
    text-decoration: none;
}*/

div.jqcloud span.w10 { font-size: 550%; }
div.jqcloud span.w9 { font-size: 500%; }
div.jqcloud span.w8 { font-size: 450%; }
div.jqcloud span.w7 { font-size: 400%; }
div.jqcloud span.w6 { font-size: 350%; }
div.jqcloud span.w5 { font-size: 300%; }
div.jqcloud span.w4 { font-size: 250%; }
div.jqcloud span.w3 { font-size: 200%; }
div.jqcloud span.w2 { font-size: 150%; }
div.jqcloud span.w1 { font-size: 100%; }

/* colors */

div.jqcloud { color: #09f; }
/*div.jqcloud a { color: inherit; }
div.jqcloud a:hover { color: #0df; }
div.jqcloud a:hover { color: #0cf; }*/
div.jqcloud span.w10 { color: #0cf; }
div.jqcloud span.w9 { color: #0cf; }
div.jqcloud span.w8 { color: #0cf; }
div.jqcloud span.w7 { color: #39d; }
div.jqcloud span.w6 { color: #90c5f0; }
div.jqcloud span.w5 { color: #90a0dd; }
div.jqcloud span.w4 { color: #90c5f0; }
div.jqcloud span.w3 { color: #a0ddff; }
div.jqcloud span.w2 { color: #99ccee; }
div.jqcloud span.w1 { color: #aab5f0; }

/* layout */

div.jqcloud {
  overflow: hidden;
  position: relative;
}

div.jqcloud span { padding: 0; }


/* General Page Formatting */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*align-items: center;*/
}

header, footer {
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5em;
    width: 100%;
}

h1 {
    font-size: 8em;
}

div#center {
    display: flex;
    justify-content: space-around;
}

select {
    font-size: 2em;
    margin: .5em;
}

#results {
    min-height: 20vh;
}







