<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Slack Cloud</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,600,400' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" media="screen" href="css/style.css" />
    <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
    <script src="scripts/jqcloud-1.0.4.js"></script>
    <script src="scripts/slackdown.js"></script>
    <script src="scripts/insQ.js"></script>
    <script src="scripts/app.js"></script>
</head>
<body>
    <header>
        <div>
        	<h1>Slack Cloud</h1>
            <nav>
                <a href="#"><h3 class="wordcloud tab">Word Cloud</h3></a>
                <a href="#"><h3 class="savedmessages">Saved Messages</h3></a>
            </nav>
        </div>
    </header>
    <main id="words">
		<div class="center">
			<form id="dropdown">
				<select id="select" name="channels">
					<option value="GAA4RPKRC" selected="selected">placeholder1</option>
					<option value="GAA4RE1B8">placeholder2</option>
				</select>
			</form>
		</div>
    	<div id="wordcloud" style="width: 100%; height: 50vh; position: relative;"></div>
    	<div class="center">
            <div id="results" class="listcontainer">
        	</div>
        </div>
    </main>
    <main id="saved" class="hidden">
        <div class="center">
            <div id="savedmessages" class="listcontainer">
            </div>
        </div>
    </main>
    <footer>&copy; Max and Kevin 2018</footer>
</body>
</html>
